
<table>
    <thead>
        <tr>
            <th>Songs</th>
            
        </tr>
    </thead>

    <tbody>
        <tr>
            <% @songs.each do |song|%>
                <td><%= song.title %></td>
            <% end %>
        </tr>
    </tbody>
</table>